
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Display</title>   
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            GetInformation();
        })
        function  GetInformation()
        {
            $.ajax({
                url: '/Student/GetStudentInfo',
                method: 'get',
                contentType: 'application/json',
                success:function(resp)
                {
                    console.log(resp);
                    $("#tbldata").empty();
                    $.each(resp, function (i, d) {
                        var dt = d.Enquiry_Date.replace('/Date(', '');
                       
                        var ds = new Date(parseInt(dt));
                        $("#tbldata").append("<tr><td>" + (i + 1) + "</td><td>" + d.Candidate_name + "</td><td>" + d.Address + "</td><td>" + d.emailId + "</td><td>" + d.EnquiryFor + "</td><td>" + d.Lead_sources + "</td><td>" + d.EnquiryBy + "</td><td>" + ds.toLocaleDateString() + "</td></tr>")
                    })
                }
            })
        }

    </script>
</head>
<body>
   
    <div class="container"> 
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">
                    <h2></h2>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-9"><h2 style="text-align:center">Student Details</h2></div>
                            <div class="col-md-3" style="text-align:right;margin-top:20px">@Html.ActionLink("AddNew Data", "Index", "Student", "", new { @class = "btn btn-primary"})
                           </div>
                        </div>
                    </div>   
                </div>

                </div>
                <div class="panel-body">
                    <table class="table table-responsive table-bordered">
                        <thead style="background-color:#f0f0f0">
                            <tr>
                                <th>Sr.no</th>
                                <th>Candidate Name</th>
                                <th>Local Address</th>
                                <th>Email Id</th>
                                <th>Enquiry For</th>
                                <th>Lead Source</th>
                                <th>Enquiry By</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody id="tbldata"></tbody>
                    </table>
                </div>
        </div>
     
    </div>
</body>
</html>
